apiVersion: v1
kind: Service
metadata:
  name: ecommerce-service
  namespace: learnhub
spec:
  type: ClusterIP
  selector:
    app: ecommerce
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
